<% include ../partials/header.ejs %>

	<div class="row justify-content-center">
		<div class="col-md-12 text-center">
			<h1>Edit <%= campground.name %> info</h1>
		</div>
		<div class="form-container">
			<form class="ui form" action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
				<div class="form-group">
					<label for="name">Name</label>
					<input class="form-control" type="text" name="campground[name]" id="name" value="<%= campground.name %>">
				</div>
				<div class="form-group">
					<label for="price">Price</label>
					<input class="form-control" type="number" name="campground[price]" id="price" value="<%= campground.price %>" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<label for="image">Image</label>
					<input class="form-control" type="text" name="campground[image]" id="image" value="<%= campground.image %>">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input class="form-control" type="textarea" name="campground[description]" id="description" minlength='13' value="<%- campground.description %>">
				</div>
				<div class="form-group">
						<label for="location">Location</label>
						<input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
					</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">Submit</button>
				</div>
			</form>
				<a href="/campgrounds/">Go Back</a>	
		</div>
	</div>

<% include ../partials/footer.ejs %>