<% include ../partials/header.ejs %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<li class="list-group-item active">Preview</li>
				<li class="list-group-item">Gallery (TBA)</li>
				<li class="list-group-item">Best Deals (TBA)</li>
			</div>
			<div id="map">
   			</div>
		</div>
		<div class="col-md-9">

			<div class="card">
					<img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
					<div class="card-body mb-3">
						<p class="float-right">$<%= campground.cost %>/week</p>
						<h5 class="card-title"><%= campground.name %></h5>
						<div class="card-title"><em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em></div>
						<hr>
						<p class="card-text"><%= campground.description %></p>
						<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
							<div class="text-left">
								<a class="btn btn-warning btn-lg" href="/campgrounds/<%= campground._id %>/edit" method="GET">Edit Content</a>
								<form id=delete action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
									<button class="btn btn-danger btn-lg">Delete Content</button>
								</form>
							</div>
						<% }; %>					
					</div>
				</div>
					<div class="card-body">
							<div class="text-right">
									<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add comment</a>
								</form>
							</div>
						<hr>
						<div class="row">
						<% campground.comments.forEach(function(comment){ %>
								<div class="col-md-12">
									<strong><%= comment.author.username %></strong>
									<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
									<div>
									<%= comment.text %>
									<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
										<div class="float-right">
											<a href='/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit' class="btn btn-sm btn-warning">Edit Comment</a>
											<form id=delete action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
												<button class="btn btn-sm btn-danger">Delete</button>
											</form>
										</div>
									<% }; %>
									<hr>
								</div>
							</div>
						<% }) %>
					</div>
			</div>
			<a href="/campgrounds">Back to landing</a>
		</div>
	</div>
	<script>
			function initMap() {
			  var lat = <%= campground.lat %>;
			  var lng = <%= campground.lng %>;
			  var center = {lat: lat, lng: lng };
			  var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 8,
				  center: center,
				  scrollwheel: false
			  });
			  var contentString = `
				<strong><%= campground.name %><br />
				<%= campground.location %></strong>
				<p><%= campground.description %></p>
			  `
			  var infowindow = new google.maps.InfoWindow({
				content: contentString
			  });
			  var marker = new google.maps.Marker({
				  position: center,
				  map: map
			  });
			  marker.addListener('click', function() {
				infowindow.open(map, marker);
			  });
			}
	</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1DMKxjeLpyF8uwZOFESLPDdho_O0NLmc&callback=initMap"></script>



<% include ../partials/footer.ejs %>
